:root {
  --dark-blue: #1f405f;
  --blue:  #99bcdd;
  --light-blue: #e7f6ff;
  --grey: #cdcdcd;
  --light-grey: #f7f5f5;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  display: flex;
  justify-content: center;
}

table {
  width: 1200px;
  border-collapse: collapse;
  position: relative;
  margin: 0 auto;
  margin-top: 4rem;
}

/* rounded corners */
table::after {
  content: '';
  border: 2px solid var(--dark-blue);
  position: absolute;
  top: 3rem;
  left: 0;
  bottom: 0;
  right: 0;
  border-radius: 0 0 10px 10px;
}

th:first-child { 
  border-radius:10px 0 0 0;
}

th:last-child{ 
  border-radius:0 10px 0 0;
}

tbody tr:last-child td:last-child{  
  border-radius:0 0 10px 0;
}

tbody tr:last-child td:first-child{  
  border-radius:0 0 0 10px;
}
/* end rounded corners */

th, td {
  padding: 1rem;
  text-align: center;
}

th {
  background-color: var(--dark-blue);
  color: #ffffff;
}

th i {
  cursor: pointer;
  padding: 0;
}

th i:hover {
  color: var(--blue);
}

tbody tr:not(:last-child) {
  border-bottom: 2px solid var(--grey);
}

tbody tr:nth-child(even) {
  background-color: var(--light-blue);
}

/* PAGINATION */
.pagination {
  margin-top: 1rem;
}

.pagination-item {
  height: 30px;
  width: 30px;
  margin: 0 5px;
  background-color: #fff;
  border: 1px solid var(--blue);
  border-radius: 5px;
  color: var(--blue);
  cursor: pointer;
  outline: none;
}

.pagination-item.active {
  border-color: var(--light-blue);
  color: var(--grey);
  pointer-events: none;
}

.prev, .next {
  height: 30px;
  padding: 0 7px;
  background-color: #fff;
  color: var(--blue);
  border: none;
  box-shadow: 0px 0px 3px 0px var(--dark-blue);
  -webkit-box-shadow: 0px 0px 3px 0px var(--dark-blue);
  -moz-box-shadow: 0px 0px 3px 0px var(--dark-blue);
  border-radius: 5px;
  cursor: pointer;
  margin: 0 10px;
  outline: none;
}

/* .prev:hover, .next:hover {
  
  box-shadow: 0px 0px 5px 0px var(--dark-blue);
  -webkit-box-shadow: 0px 0px 5px 0px var(--dark-blue);
  -moz-box-shadow: 0px 0px 5px 0px var(--dark-blue);
} */

.disabled {
  box-shadow: none;
  color: var(--grey);
  pointer-events: none;
}


