:root {
  --dark-blue: #1f405f;
  --blue:  #99bcdd;
  --light-blue: #e7f6ff;
  --grey: #cdcdcd;
  --red: #c54242;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

.App {
  display: flex;
  justify-content: center;
}

.container {
  width: 80%;
}

/* SEARCH */
.Search input {
  margin: 3rem 0;
  padding: .5rem;
  border-radius: 10px;
  outline: none;
  background-color: var(--grey);
}

.Search input:focus {
  background-color: #fff;
}

/* DATATABLE */
table {
  width: 100%;
  border-collapse: collapse;
  position: relative;
}

/* rounded corners */
table::after {
  content: '';
  border: 2px solid var(--dark-blue);
  position: absolute;
  top: 3rem;
  left: 0;
  bottom: 0;
  right: 0;
  border-radius: 0 0 10px 10px;
}

th:first-child { 
  border-radius:10px 0 0 0;
}

th:last-child{ 
  border-radius:0 10px 0 0;
}

tbody tr:last-child td:last-child{  
  border-radius:0 0 10px 0;
}

tbody tr:last-child td:first-child{  
  border-radius:0 0 0 10px;
}
/* end rounded corners */

th, td {
  padding: 1rem;
  text-align: center;
}

th {
  background-color: var(--dark-blue);
  color: #ffffff;
}

th i {
  cursor: pointer;
  padding: 0;
}

th i:hover {
  color: var(--blue);
}

tbody tr:not(:last-child) {
  border-bottom: 2px solid var(--grey);
}

tbody tr:nth-child(even) {
  background-color: var(--light-blue);
}

.error {
  margin-top: 3rem;
  text-align: center;
  color: var(--red);
}


